@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";
@import "tw-animate-css";


:root {
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
}

.font-sans {
  font-family: var(--font-inter);
}

.font-heading {
  font-family: var(--font-montserrat);
}

.font-brand {
  font-family: var(--font-space);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-black text-zinc-300 antialiased;
  }
}

@layer utilities {
  .animate-fade-in {
    animation: fade-in 1s ease-in-out;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}